In [1]:
import pandas as pd
import statsmodels.formula.api as smf

In [2]:
Oats = pd.read_csv('Oats.csv')
Oats

   Block      Variety  nitro  yield
0      I      Victory    0.0    111
1      I      Victory    0.2    130
2      I      Victory    0.4    157
3      I      Victory    0.6    174
4      I  Golden Rain    0.0    117
..   ...          ...    ...    ...
67    VI  Golden Rain    0.6    104
68    VI   Marvellous    0.0     97
69    VI   Marvellous    0.2     99
70    VI   Marvellous    0.4    119
71    VI   Marvellous    0.6    121

[72 rows x 4 columns]